# IDE and editor specific files
.idea/
.vscode/
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Node.js specific files and folders
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Project build and environment files
dist/
dist-ssr/
*.local
*.env
/client/.env
/server/.env
/mobile/.env

# Logs
logs/
*.log

# Folders for each part of the project
/client/node_modules/
/server/node_modules/
/mobile/node_modules/

# OS-specific files
#.DS_Store
/client/.DS_Store
/server/.DS_Store
/mobile/.DS_Store

# Ignore VSCode workspace files except extensions.json
.vscode/*
!.vscode/extensions.json
